
'atom-text-editor:not([mini])':
    'cmd-d': 'editor:delete-to-beginning-of-line'
    'cmd-alt-down': 'editor:duplicate-lines'
    'cmd-alt-up': 'editor:duplicate-lines'
    'cmd-l': 'go-to-line:toggle'
    'shift-cmd-R': 'unset!'
    'ctrl-m': 'tree-view:toggle'
    'shift-cmd-F': 'jsformat:format'
    'alt-cmd-/': 'block-comment:toggle'
    'shift-cmd-L': 'bookmarks:toggle-bookmark'

'.platform-darwin':
  'shift-cmd-R': 'fuzzy-finder:toggle-file-finder'
  'ctrl-m': 'tree-view:toggle'
  'ctrl-h': 'project-find:show'
  'shift-cmd-F': 'jsformat:format'
  'alt-cmd-/': 'block-comment:toggle'
