# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
'atom-text-editor:not([mini])':
    'cmd-d': 'editor:delete-to-beginning-of-line'
    'cmd-alt-down': 'editor:duplicate-lines'
    'cmd-alt-up': 'editor:duplicate-lines'
    'cmd-l': 'go-to-line:toggle'
    'shift-cmd-R': 'unset!'
    'ctrl-m': 'tree-view:toggle'
    'shift-cmd-F': 'jsformat:format'
    'cmd-?': 'block-comment:toggle'
    'alt-cmd-/': 'jsx-comment:toggleComment'
    'shift-cmd-L': 'bookmarks:toggle-bookmark'

'.platform-darwin':
  'shift-cmd-R': 'fuzzy-finder:toggle-file-finder'
  'ctrl-m': 'tree-view:toggle'
  'ctrl-h': 'project-find:show'
  'shift-cmd-F': 'jsformat:format'
  'cmd-?': 'block-comment:toggle'
  'alt-cmd-/': 'jsx-comment:toggleComment'


#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson
